@import url("http://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.css");
* {
  margin: 0;
  padding: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font: 12px/1 'Montserrat', sans-serif;
  color: #333;
  background: #333;
  overflow-x: hidden;
}

.wrapper {
  display: flex;
  min-height: 100%;
}

.sidebar {
  position: absolute;
  width: 200px;
}

.content {
  flex: 1;
  padding: 20px;
  background: #eee;
  box-shadow: 0 0 5px black;
  transform: translate3d(50px, 0, 0);
  transition: transform .3s;
}

.content.isOpen {
  transform: translate3d(200px, 0, 0);
}

.button {
  cursor: pointer;
}

.button:before {
  content: '\f0c9';
  font: 42px fontawesome;
}

/* Navigation Bar */
.title {
  font-size: 16px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 7px;
  color: #eee;
  border-bottom: 1px solid #222;
  background: #2a2a2a;
}

.nav li a {
  position: relative;
  display: block;
  padding: 15px 15px 15px 50px;
  font-size: 12px;
  color: #eee;
  border-bottom: 1px solid #222;
  transition: background ease-out 0.5s;
  cursor: pointer;
}

.nav li a:before {
  font: 14px fontawesome;
  position: absolute;
  top: 14px;
  left: 20px;
}

/* Vertical Tabs */
.nav li:nth-child(1) a:before {
  content: '\f00a';
}

.nav li:nth-child(2) a:before {
  content: '\f012';
}

.nav li:nth-child(3) a:before {
  content: '\f085';
}

.nav li:nth-child(4) a:before {
  content: '\f023';
  left: 23px;
}

.nav li:nth-child(4) a:before {
  content: '\f021';
  left: 23px;
}


.nav li a:hover {
  background: #444;
}

.nav li a.active {
  box-shadow: inset 5px 0 0 #e5e, inset 7px 0 0 #444;
  background: #444;
}


h1 {
  margin: 5px 0 15px;
  font-size: 28px;
  font-weight: 400;
}

h2 {
  font-size: 18px;
  font-weight: 400;
  color: #999;
}

.flex-grid {
  display: flex;
  flex-direction: column;
}

.inner {
  display: flex;
  flex: 1;
  background: #aaa;
  width: 100px;
  height: 100px;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: stretch;
}
